<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<!--
_  _ ____ _  _ ____ _    ____ ____ ____ _  _ ____ _  _ ____ ___  ____ ____ ____  ____ ____ ____ 
|__| |  | |\/| |___ |    |___ [__  [__  |__| |  | |\/| |___ |__] |__| | __ |___  |  | |__/ | __ 
|  | |__| |  | |___ |___ |___ ___] ___] |  | |__| |  | |___ |    |  | |__] |___ .|__| |  \ |__] 
                                                                                                
                                                   
           Site design     - Tom Larkin (http://notbeast.com/
           Web Development / Chrome extension development - Matt Childs @mattec                                
-->
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Matt Childs" />
   <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Serif+Pro" rel="stylesheet">
   <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<div class="container" id="site-container">
<div id="site-contents">
<header id="banner" class="body">
  <nav id="navigation"><ul>
  <li><a href="http://homelesshomepage.org">HOME</a></li>
  <li><a href="/about/">ABOUT</a></li>
  <li><a href="/artists/">ARTISTS</a></li>
  <li><a href="/facebook/">FACEBOOK</a></li>
  <li><a href="/instagram/">INSTAGRAM</a></li>
  <li><a href="/twitter/">TWITTER</a></li>
  <li><a href="/contact/">CONTACT</a></li>
  </ul>
  <a href="#" id="close-menu"><img src="/images/x.png" /></a>
  </nav>
  <a href="#"><img src="/images/logo.png" /></a>
  <a href="#" id="menu">
  &#9776;
  </a>
</header><!-- /#banner -->
