$herart-beige: #F8F5F3;
$herart-link-all: black;
$red: #FF0000;

$body-font: 'Source Serif Pro', serif;
$header-button-font: 'Raleway', sans-serif;

a:link, a:visited, a:hover, a:active { color:$herart-link-all; }

.red-text { color: $red;}